/* Variables  */
:root {
    --background-color: white;

    --color-blue: #6581ff;
    --color-text: #7a7a7a;
    --color-gray: #9e9e9e;
    --color-light-gray: #d8d8d8;
    --color-text-black: #262626;

    --background-black-opacity: rgb(0, 0, 0, 45%);
    --background-light-black-opacity: rgb(0, 0, 0, .5);
    --background-gray: #e1e1e1;

    --box-shadow-color: 0 0 10px rgb(0 0 0 / 0.2);

    /* Job vars */
    --job-wrapper: 900px;
    --job-element: 400px;
    --job-year: 40px;
    --job-border-left: 3px;

    --job-margin: calc(var(--job-wrapper) / 2 - var(--job-element));

    --job-indent-before: calc(0px - var(--job-margin));
    --job-indent-after: calc(0px - var(--job-margin) - var(--job-year) / 2);

    --job-animation-hidden: calc(110vw / 2);
    --job-animation-end-margin: 5px;
}

.container {
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--color-text);
}

/* Header styles */
.header {
    position: relative;
    bottom: 80px;
    height: 110vh;
    background: url("../images/3334896.webp") no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 99%, 0 89%);
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 80px;

    color: #FFF;
    background: var(--background-black-opacity);

    z-index: 3;
}
.header-top a.link {
    color: #fff;
}

#hamburger, .menu-hamburger {
    display: none;
}

.logo {
    width: 260px;
    font-size: 36px;
}

.menu-element {
    margin-right: 25px;

    font-size: 22px;
}
.menu-element:last-child {
    margin-right: 0;
}
.menu-element a.link.active, .menu-element a.link:hover {
    color: var(--color-blue);
}

.menu-element__link.home svg {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.switcher-container {
    width: 260px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);

    color: #fff;
}
.header-center__wrapper {
    width: 100%;
    padding: 20px 0;

    background: var(--background-black-opacity);
    text-align: center;
}

.name {
    font-size: 58px;
    line-height: 74px;
}
.description {
    display: inline-block;
    width: 71ch;

    font-size: 22px;
    line-height: 1.5em;
    font-family: Courier, monospace;
    white-space: nowrap;

    border-right: 3px solid transparent;

    overflow: hidden;

    animation: cursor 0.5s 11, print-text 5s steps(71);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0;
    }
}

/* About me section */
.about-me {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
.about-me .left {
    flex: 1 1 30%;
    padding-right: 36px;
}
.about-me .right {
    flex: 1 1 70%;
    padding-left: 20px;
}
.about-me__image {
    width: 350px;
    margin-left: auto;
    border-radius: 10px;
}
.about-me__title {
    font-size: 36px;
}
.about-me__description {
    font-size: 24px;
    color: var(--color-text);
    margin-bottom: 15px;
}
ul.about-me__extra {
    color: var(--color-text);
    margin-top: 20px;
}
.about-me__extra-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about-me__extra-element:last-of-type {
    margin-bottom: 0;
}
.about-me__extra-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.about-me__extra-icon svg {
    color: var(--color-blue);
}

/* Achievements section */
.achievements {
    flex-direction: column;
    position: relative;
    padding: 40px 0;
}
.achievements::before,
.achievements::after {
    content: "";
    position: absolute;

    border: 100px solid transparent;
}
.achievements::before {
    border-top: 30px solid var(--background-color);
    top: 0;
}
.achievements::after {
    border-top: 40px solid var(--background-gray);
    bottom: -120px;
}


/* Skills section */
.skills {
    padding: 60px 0 40px;
}
.skills-filters {
    gap: 20px;
    font-size: 18px;
    margin-bottom: 40px;
}
.skills-filters__element {
    cursor: pointer;
    transition: color .25s ease;
}
.skills-filters__element:hover {
    color: var(--color-blue);
}
.skills-wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.skills-wrapper .left {
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    max-width: 70%;
    padding-right: 20px;
}
.skills-list__row {
    display: flex;
    justify-content: space-between;

    width: 100%;
}
.skills-list__element {
    display: flex;
    align-items: center;

    flex: 1 1 31%;
    max-width: 31%;
    min-height: 80px;

    padding: 10px;

    box-shadow: var(--box-shadow-color);
    border-radius: 3px;

    transition: all .1s ease;
    cursor: pointer;
}
.skills-list__element:hover {
    outline: 2px solid var(--color-blue);
    transform: scale(105%);
}
.skills-list__element > *:first-child {
    flex: 1 1 28%;
}
.skills-list__element > *:last-child {
    flex: 1 1 72%;
    padding-left: 20px;

    font-size: 24px;
}
.skills-wrapper .right {
    flex: 1 1 30%;
    padding: 0 0 20px 20px;
    border-left: 1px solid var(--color-blue);
}
.skill-card__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.skill-card__image {
    flex: 1 1 30%;
    width: 150px;
}
.skill-card__name {
    flex: 1 1 70%;
    padding-left: 20px;
    font-size: 24px;
}
.skill-card__progress {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-bottom: 20px;

}
.skill-card__progress-percent {
    font-size: 18px;
    color: var(--color-text);
}
.skill-card__progress-bar {
    position: relative;
    background: var(--color-light-gray);
    border-radius: 20px;
    width: 100%;
    height: 8px;
    overflow: hidden;
}
.skill-card__progress-bar div {
    width: 50%;
    height: inherit;
    background: var(--color-blue);

}
.skill-card__description {
    color: var(--color-text);
    text-align: justify;
}

/* Interests section */
.interests {
    padding: 40px 20px;
}
.interests__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.interest-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 30%;
    margin-bottom: 30px;
    padding: 20px 10px;

    border-radius: 5px;
    box-shadow: var(--box-shadow-color);
}
.interest-image {
    width: 350px;
    margin-bottom: 20px;
}
.interest-title {
    margin-bottom: 15px;

    font-size: 20px;
    color: var(--color-text-black);
}
.interest-text {
    color: var(--color-text);
    margin-bottom: 10px;
}
.interest-text:last-of-type {
    margin-bottom: 0;
}

/* Contact me */
.contact-me {
    position: relative;
    padding: 40px 0;
}
.contact-me__form {
    width: 100%px;
    max-width: 1200px;
    margin: 0 auto;
}
.input-wrapper {
    width: 48%;
}
.input-wrapper.left {
    float: left;
}
.input-wrapper.right {
    float: right;
}

.textarea-wrapper {
    margin-top: 20px;
}

.label {
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 5px;

    font-size: 20px;
}
.label::before {
    content: "";

    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

    margin-right: 8px;

    background-repeat: no-repeat;
    background-position: center;
}
.label[for="name"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%236581ff' class='size-6'%3E%3Cpath fill-rule='evenodd' d='M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
}
.label[for="email"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%236581ff' class='size-6'%3E%3Cpath d='M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z' /%3E%3Cpath d='M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z' /%3E%3C/svg%3E%0A");
}
.label[for="message"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%236581ff' class='size-6'%3E%3Cpath fill-rule='evenodd' d='M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
}

.input, .textarea {
    width: 100%;
    border: none;
    outline: 1px solid var(--color-gray);
}
.input {
    padding: 5px 5px 5px 20px;
}

.textarea {
    padding: 20px;
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
}

.input:focus, .textarea:focus {
    outline: 1px solid var(--color-blue);
}

.submit {
    display: block;
    height: 45px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    
    border: none;
    border-radius: 2px;
    background: var(--color-blue);
    outline: none;
    box-shadow: none;
    color: #fff;

    cursor: pointer;
    opacity: .8;
    transition: opacity .25s ease;
}
.submit:hover {
    opacity: 1;
}

.form-result {
    position: absolute;
    inset: 0;
    background: var(--background-light-black-opacity);
}
.form-result__content {
    max-width: 1200px;
    font-size: 20px;
    color: #fff;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.socials {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.social-element__link {
    width: 25px;
    height: 25px;
}

.footer-about {
    color: var(--color-text);
}

/* Job section */
.job {
    padding: 40px 0 0;
}
.job-wrapper {
    position: relative;
    
    flex-direction: column;
    
    width: var(--job-wrapper);
    margin: 0 auto;
    padding: 60px 0 0;
}
.job-wrapper::before {
    content: "";
    position: absolute;
    top: 0;

    display: inline-block;
    width: 1px;
    height: 90%;

    background: var(--color-gray);
}
.job-element {
    position: relative;

    width: var(--job-element);
    padding: 10px;

    box-shadow: var(--box-shadow-color);
    border-radius: 2px;
    border-left: var(--job-border-left) solid var(--color-blue);
}
.job-element:before {
    content: "";

    position: absolute;
    top: calc(var(--job-year) / 2);

    display: inline-block;
    width: var(--job-margin);
    height: 1px;
    background: var(--color-blue);
}
.job-element:after {
    content: attr(data-year);

    position: absolute;
    top: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: var(--job-year);
    height: var(--job-year);

    border-radius: 50%;
    background: var(--color-blue);

    font-size: 14px;
    color: #fff;
}
.job-element:nth-of-type(2) {
    bottom: 100px;
}
.job-element.left {
    margin-right: auto;
}
.job-element.left:before {
    right: var(--job-indent-before);
}
.job-element.left:after {
    right: var(--job-indent-after);
}
.job-element.right {
    margin-left: auto;
}
.job-element.right:before {
    left: var(--job-indent-before);
}
.job-element.right:after {
    left: calc(var(--job-indent-after) - var(--job-border-left));
}

/* Common styles */
a.link {
    color: var(--color-blue);
    fill: var(--color-blue);
    text-decoration: none;
    transition: opacity .25s ease;
}
a.link:hover {
    opacity: .7;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray {
    color: var(--color-gray);
}

.bold {
    font-weight: bold;
    color: var(--color-text-black);
}

.block {
    display: block;
}

.second-title {
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
.second-title:after {
    --underline-width: 60px;

    content: "";

    display: inline-block;
    width: var(--underline-width);
    height: 2px;

    position: absolute;
    bottom: -7px;
    left: calc(50% - var(--underline-width) / 2);

    background: var(--color-blue);
    
}
.section-description {
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    color: var(--color-text-black);
}

.section-gray {
    background: var(--background-gray);
}

.active {
    color: var(--color-blue);
}

.cls {
    clear: both;
}

.dark-mode {
    --background-color: #121212;
    --color-text: white;
    --background-gray: #5c5c5c;
    --color-text-black: #cecdcd;
    --color-light-gray: #494949;
}

/* .blur {
    filter: blur(5px);
} */

/* Image slider */
.slider {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
}
.slider__wrapper {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;

    transition: all .5s ease;
}
.slider__link {
    flex: 1 1 33%;
}
.slider__image {
    width: 100%;
    max-width: 250px;
}
.slider__input {
    display: none;
}
.slider__controls {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.slider__controls-element {
    display: inline-block;
    width: 40px;
    height: 8px;

    border-radius: 8px;
    background: rgb(0 0 0 / 20%);

    cursor: pointer;
    transition: all .25s ease;
}
.slider__controls-element:hover {
    background: var(--color-gray);
}

.slider__input:first-of-type:checked ~ .slider__wrapper:first-of-type {
    margin-left: 0;
}
.slider__input:nth-of-type(2):checked ~ .slider__wrapper:first-of-type {
    margin-left: -100%;
}
.slider__input:nth-of-type(3):checked ~ .slider__wrapper:first-of-type {
    margin-left: -200%;
}
.slider__input:nth-of-type(4):checked ~ .slider__wrapper:first-of-type {
    margin-left: -300%;
}
.slider__input:nth-of-type(5):checked ~ .slider__wrapper:first-of-type {
    margin-left: -400%;
}
.job-element__animation {
    animation-timing-function: ease-out;
    animation-duration: 2s;
}
.job-element__animation.right {
    animation-name: job-element-move-from-right;
}
.job-element__animation.left {
    animation-name: job-element-move-from-left;
}
@keyframes job-element-move-from-left {
    0% {
        transform: translateX(calc(0px - var(--job-animation-hidden)));
    }
    90% {
        transform: translateX(var(--job-animation-end-margin));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes job-element-move-from-right {
    0% {
        transform: translateX(var(--job-animation-hidden));
    }
    90% {
        transform: translateX(calc(0px - var(--job-animation-end-margin)));
    }
    100% {
        transform: translateX(0);
    }
}
.job-element__title, .job-element__block-title {
    font-size: 20px;
}
.job-element__description {
    font-size: 14px;
    color: var(--color-gray);
    margin-bottom: 15px;
}
.job-element__block-title {
    margin-bottom: 5px;
}
.job-element__skills{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.job-element__skills-element {
    padding: 5px 10px;
    border-radius: 15px;

    background-color: var(--color-light-gray);
    transition: background-color .25s ease;
    cursor: default;
}
.job-element__skills-element:hover {
    background-color: rgb(158, 158, 158, .6);
}